@media(max-width:1150px){
    .footerchildcont{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:650px){
    .footerchildcont{
        display: grid;
        grid-template-columns: 1fr;
    }
}