*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.homecont{
    background: url(hero-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.left{
    flex: 70%;

}
.left img{
    width: 50vw;
}
.right{
    flex: 30%;
}
/* main cont  */
.main{
    background: url(about-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.parallex{
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}